h1 {
  text-align: center;
  color: gray;
}

a {
  font-size: 30px;
  text-decoration: none;
}

body {
  background-color: #1a1925;
}

img {
  right: 0;
  position: absolute;
}

h3 {
  color: violet;
}

p, li {
  color: aqua
}